@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #323232;
}

button {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth__wrapper {
  box-shadow: 0 12px 32px rgba(0, 0, 0, .2);
  padding: 30px;
  border-radius: 10px;
  margin: 0 15px;
}

.auth__wrapper h2 {
  text-align: center;
}

.auth__form {
  margin-top: 20px;
}

.auth__form .input {
  margin-bottom: 20px;
}

.auth__form input {
  width: 100%;
  padding: 12px 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth__form button {
  padding: 12px 32px;
  color: #FFF;
  background-color: #2db73d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 20px;
}